
.register-container {
    display: flex;
    height: 100vh;
    justify-content: space-between;
}


.left-section {
    width: 50%;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    background-color:color-mix(in srgb,  #43D79E 30%, #35C0E4 40%)

}

.logo {
    width: 150px;
    height: 150px;
    margin-right: 20px;
}


.right-section {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.register-form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
}
.login-signup-link{
    padding-top: 15px;
    text-align: center;
}

.forgot-password{
    color: #2a9ac6;
    text-align: right;
    padding-top: 2px;
}
label {
    font-size: 16px;
    margin-bottom: 5px;
}

input,
select {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.error-message {
    color: red;
    font-size: 12px;
}

.submit-btn {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color:#34aadc;
}


.layout-container {
    height: 100vh;
}

.layout-navbar {
    background-color:#FFFFFF;
    /* border-bottom: 0.2px  #ccc; */
    z-index: 1000;
    height: 90px;
}
.sidebar-content{
    align-items: center;
    padding-left: 30px;
    
   
}
.sidebar {
    border-top: 1px solid #8080805c !important;
    border-right: 0.5px solid grey !important;
    background-color: #FFFFFF;
    justify-content: center;
}

.sidebar-link {
    display: flex;
    padding: 10px 15px;
    gap: 10px;
    color: #333;
    text-decoration: none;
    transition: all 0.3s ease;
}

.sidebar-link:hover {
    background-color: hsl(157, 61%, 78%);
    color: white;
    text-decoration: none;  
}

.content-area {
    height: auto;
   height: calc(100vh - 97px);  
    max-width: 100%;
   /* // margin-left: 10px; */
    /* margin-left: 9px !important; */
    /* overflow: auto; */
}
.custom-margin-top{
    margin-top: 6rem !important;
    background-color: #ECF1F3 !important;
}
.eye-text{
    font-size: 24px;
    font-weight: 700;
}
.navbar-brand{
    margin-left: 30px;
}

.custom-dropdown-toggle {
    background: none !important;
    border: none !important;
    color: inherit !important;
    padding: 0 !important;
    font-size: 1rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 50px;
    margin-top: 20px;
   
}

.user-avatar {
    border-radius: 50% !important;
    object-fit: cover;
   
}
.dropdown-text {
    display: block;
}

.bold-text {
    font-weight: bold;
}

h1 {
    color: #007bff;
}
h3{
    margin-top: 0;
}

.text-end {
    text-align: right;
}

.card {
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 103.83px;
    width: 331.33px;
}

.card-title {
    font-size: 10px;
    color: #555;
}

.card-text {
    font-size: 16px;
    font-weight: 500;
    color: #333;
    line-height: 18.75px;
}

.custom-card {
    display: flex;
    flex-direction: row;
    max-width: 100% !important;
    /* Align content horizontally */
}

.custom-card .card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-card img {
    background-color: color-mix(in srgb, #5BEBB1 30%, #5AE1FD 40%);
    margin-bottom: 10px;
    padding: 2px;
}



.custom-card .text-end {
    font-size: 1.2rem;
    font-weight: bold;
}

.custom-card hr {
    margin: 10px 0;
}

.btn-primary {
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    margin-bottom: 20px;
}

.btn-primary:hover {
    background-color: #45a049;
}

form {
    width: 100%;
    max-width: 1000px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
}

.submit-btn {
    background-color: #35c0e4;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
}

.submit-btn:hover {
    background-color: #2a9ac6;
}




.table th, .table td {
  white-space: nowrap;  
  text-overflow: ellipsis; 
  overflow-x: auto; 
  padding: 8px; 
  font-size: 14px;
  
}

.table th {
  background-color: #f8f9fa; 
  font-weight: 500;
 
}

.table td {
  text-align: center;
  font-weight: 350;
}


.table tbody tr:hover {
    background-color: #f1f1f1;
}

.error-message {
    color: red;
    font-size: 12px;
}

.dashboard {
    padding-top: 40px;
    /* max-width: 100%; */
     background-color: #ECF1F3;
   
}

.dashboard .card {
    background-color: #fff;
}

/* .content-area{
    background-color: #ECF1F3;
   
    
} */
.btn-color{
    background-color: #35C0E4 !important;
    border: none !important;
    height: 8vh;
    width: 40vh;
}
.custom-btn{
    background-color: #35C0E4 !important;
    width: 20vh;
    border: none !important;
    color: white;
    border-radius: 2px;
}
.add-form {
  max-height: 600px; 
  overflow-y: auto; 
  padding-bottom: 20px; 
}

.cancel-btn .custom-btn{
    border: 1px solid #43D79E !important;
    color: #43D79E;
    font-weight: bold;
    background-color: white !important;
}
.search-box{
    width: 500px;
}
.patient-info{
    background-color: white;
    overflow-y: auto;
   
}
.patient-section{
    background-color: #F5F5F5;
}
.icon i{
    color: white;
}
.icon{
    font-size: 1rem;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 2px;
}
.pagination{
    width: 140px;
   position: absolute;
    right: 0;

}

.chat{
    background-color: white;
}

.patient div:hover{
    background-color:hsl(156, 60%, 83%);
    border-radius: 10px;
}
