
.register-container {
    display: flex;
    height: 100vh;
    justify-content: space-between;
}


.left-section {
    width: 50%;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    background-color:color-mix(in srgb,  #43D79E 30%, #35C0E4 40%)

}

.logo {
    width: 150px;
    height: 150px;
    margin-right: 20px;
}


.right-section {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.register-form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
}
.login-signup-link{
    padding-top: 15px;
    text-align: center;
}

.forgot-password{
    color: #2a9ac6;
    text-align: right;
    padding-top: 2px;
}
label {
    font-size: 16px;
    margin-bottom: 5px;
}

input,
select {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.error-message {
    color: red;
    font-size: 12px;
}

.submit-btn {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color:#34aadc;
}

/*dashboard css*/

/* .container-fluid {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f8f9fa;
    height: 100vh;
    padding: 0;
    margin: 0;
    border: 2px solid black;
} */

.layout-container {
    padding-top: 60px;
    max-width: 100%;
    /* margin-right: 0%; */  
}

.layout-navbar {
    height: 100px;
    position: fixed;
    background-color: #fff;
    border-bottom: 1px solid  #ECF1F3;

}
.navbar1{

    margin-top: 35px;
    margin-bottom: 0%;
    align-items: center;
}


.sidebar {
    position: fixed;
    top: 80px;
    bottom: 0;
    left: 0;
    padding-top: 20px;
  
    height: 100%;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar-content {
    padding-left: 15px;
    padding-right: 15px;
}

.sidebar-link {
    font-size: 1.1em;
    color: #333;
    padding: 10px;
    display: block;
    text-decoration: none;
}

.sidebar-link:hover {
    background-color: #007bff;
    color: white;
    border-radius: 4px;
}

.content-area {
    margin-left: 17%;
    margin-top: 50%;
    padding: 100px;
   
  
}

h1 {
    color: #007bff;
}

.text-end {
    text-align: right;
}

.card {
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-size: 18px;
    color: #555;
}

.card-text {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}


.btn-primary {
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    margin-bottom: 20px;
}

.btn-primary:hover {
    background-color: #45a049;
}

form {
    width: 100%;
    max-width: 1000px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
}

.submit-btn {
    background-color: #35c0e4;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
}

.submit-btn:hover {
    background-color: #2a9ac6;
}

/* Table styling */
.table {
    padding-top: 10px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    overflow-x: auto;
    border: 2px solid black;
}

.table thead {
    background-color: #35c0e4;
    color: white;
    font-size: 16px;
}
.table-heading{
    display: flex;
    font-size: large;
    margin-bottom: 60px;
}
.table th,
.table td {
    padding: 12px;
    text-align: center;
    font-size: 14px;
    color: #333;
}

.table tbody tr:hover {
    background-color: #f1f1f1;
}

.error-message {
    color: red;
    font-size: 12px;
}

.dashboard {
    padding-top: 40px;
    border-radius: 10px;
   
}

.dashboard .card {
    background-color: #fff;
}

.content-area{
    background-color: #ECF1F3;
   
    
}
.custom-button{
    background-color: #ccc;
    border: 2px solid black;
}
